* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #2d2f39;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-between;
    /*border: 1px solid green;*/
}

.nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    /*border: 1px solid white;*/
}

.nav-list li {
    list-style: none;
    padding: 20px;
    /*border: 1px solid white;*/
}

.new-blog {
    border: 2px solid #38e991;
    color: #38e991;
    padding: 10px;
}

.new-blog:hover {
    color: white;
    padding: 10px;
    background-color: #38e991;
    transition-duration: 0.4s;
}

.li-new-blog:hover {
    text-decoration: none;
}

.nav-list li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    /*border: 1px solid white;*/
}

.nav-list li a:hover {
    color: #38e991;
    text-decoration: none;
    transition-duration: 0.4s;
}

.nav-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    width: 300px;
    /*border: 1px solid white;*/

}